$outer-border-color: #d5d4d4;
$inner-border-color: #edecec;
$row-color: #f8f8f8;
$row-hover-color: #dceaff;
$heading-row-color: #edecec;
$cell-padding: .25em .5em;

.h-table-container {
  background-color: #fff;
  border: 1px solid $outer-border-color;
}

.h-table-caption {
  font-weight: 500;
  padding: $cell-padding;
}

.h-table {
  width: 100%;
  border: 1px solid $inner-border-color;
}

.h-table__row {
  background-color: $row-color;
}

.h-table__row_expandable:hover {
  background-color: $row-hover-color !important;
  cursor: default;
}

.h-table__cell {
  font: inherit;
  border: 1px solid $inner-border-color;
  padding: $cell-padding;
}

.h-table__cell_heading {
  border: 0;
  font-weight: 500;
  background-color: $heading-row-color;
  text-align: center;
}
